.dark-bg {
  --background: #0b0f14;
  color: white;
}

/* HEADER */
.custom-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
}

/* Botón */
.back-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1a1f26;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button ion-icon {
  font-size: 20px;
  color: white;
}

/* Textos */
.titles {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 12px;
  color: #8a8f98;
  margin: 0;
}

.titles h1 {
  font-size: 22px;
  margin: 0;
  color: #00d1b2;
  font-weight: bold;
}

/* CARD */
.info-card {
  margin: 16px;
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(135deg, #0f3d3e, #0a2c2d);
  text-align: center;
  color: #a8f0e6;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-card ion-icon {
  font-size: 40px;
  color: #00d1b2;
  margin-bottom: 10px;
}

.info-card p {
  font-size: 14px;
  color: #b6c2cf;
}

.fecha {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 5px;
}