<ion-content class="dark-bg">

  <!-- HEADER -->
  <div class="custom-header">

    <div class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>

    <div class="titles">
      <p class="subtitle">Últimas actualizaciones del juego</p>
      <h1>Noticias</h1>
    </div>

  </div>

  <!-- CARD estilo imagen -->
  <div class="info-card">
    <ion-icon name="newspaper-outline"></ion-icon>
    <p>Aquí se mostrarán las noticias de JumpRush</p>
  </div>

</ion-content>