<ion-content class="dark-bg">

  <!-- Header personalizado -->
  <div class="custom-header">

    <!-- Botón circular -->
    <div class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </div>

    <!-- Textos -->
    <div class="titles">
      <p class="subtitle">Mejores puntajes de todos los tiempos</p>
      <h1>Rankings globales</h1>
    </div>

  </div>

  <!-- Card -->
  <div class="info-card">
    <ion-icon name="trophy-outline"></ion-icon>
    <p>Aquí se mostrarán los rankings de JumpRush</p>
  </div>

</ion-content>