<ion-content class="lore-content">

<!-- HEADER -->
<div class="lore-header">
  <div class="titles">
    <p class="subtitle">LORE</p>
    <h1>Historia del juego</h1>
  </div>

</div>
  <!-- CARD PRINCIPAL -->
  <div class="chapter-container">

    <!-- Banner -->
    <div class="chapter-banner">
      <img src="assets/img/capitulo1.png" />
      <div class="overlay"></div>
      <div class="chapter-text">
        <small>CAPÍTULO 1</small>
        <h2>Origen Desconocido</h2>
      </div>
    </div>

    <!-- Historia -->
    <div class="story-text">
      <p>
       Tras años en silencio, las plataformas de energía se reactivaron… pero algo salió mal.
      Drones hostiles ahora patrullan las estructuras, atacando sin razón aparente y protegiendo un origen desconocido.
      Despiertas sin respuestas, armado y rodeado de peligro.
      Para avanzar, solo hay una opción: eliminar a los drones y cruzar cada puerta.
      Algo te observa.
      Y mientras más avanzas… más cerca estás de la verdad.
      </p>
    </div>

  </div>

  <!-- PERSONAJES -->
  <h3 class="section-title">Personajes</h3>

  <!-- ngFor dinámico -->
  <div *ngFor="let p of personajes$ | async" class="character-card" (click)="abrirPersonaje(p)">
    <img [src]="p.imagen" alt="{{p.nombre}}">
    <div>
      <h4>{{p.nombre}}</h4>
      <small>Próximamente disponible</small>
    </div>
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

  <!-- ESCENARIOS -->
  <h3 class="section-title">Escenarios</h3>

  <div class="scenarios-scroll">
    <div class="scenario-card forest" (click)="abrirEscenario('origen')">
      <div class="overlay"></div>
      <span>Sector Perdido</span>
    </div>
    <div class="scenario-card ruins" (click)="abrirEscenario('codigo')">
      <div class="overlay"></div>
      <span>Ciudad Silenciosa</span>
    </div>
    <div class="scenario-card cave" (click)="abrirEscenario('senal')">
      <div class="overlay"></div>
      <span>El Núcleo</span>
    </div>
  </div>

</ion-content>