<ion-tabs>

  <ion-tab-bar slot="bottom">

  <ion-tab-button tab="inicio">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="lore">
    <ion-icon name="book-outline"></ion-icon>
    <ion-label>Lore</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="rankings">
    <ion-icon name="trophy-outline"></ion-icon>
    <ion-label>Ranking</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="noticias">
    <ion-icon name="newspaper-outline"></ion-icon>
    <ion-label>Noticias</ion-label>
  </ion-tab-button>

</ion-tab-bar>

</ion-tabs>
