<ion-content class="home-content">

  <!-- HEADER -->
  <div class="header">
    <p class="welcome">Bienvenido</p>
    <h1><span>{{ nombreUsuario }}</span></h1>
  </div>

  <!-- GAME CARD -->
  <div class="game-card">
    <img src="assets/img/logoFinal.png" alt="JumpRush">
    <div class="overlay"></div>
    <div class="badge">NUEVO</div>

    <div class="game-info">
      <h2>JumpRush</h2>
      <p>"Elimina. Avanza. Descubre la Verdad"</p>
    </div>
  </div>

  <!-- BOTONES -->
  <div class="menu-buttons">
    


    <div class="menu-card" (click)="irNoticias()">
      <ion-icon name="newspaper-outline"></ion-icon>
      <div>
        <p>Noticias</p>
        <small>Actualizaciones</small>
      </div>
    </div>

  </div>

</ion-content>